
@{
	ViewData["Title"] = "Welcome";
	Layout = "_Layout1";
}

<h1>Welcome!</h1>

This is the entry point of the web application which welcomes user to the domain.<br />
Info on the latest deals are initially shown here.


